{% extends 'base.html' %}
{% block content %}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

<div class ="containner-fluid">
    <div class="row">
        <div class ="col-md-12 heading">

        </div>

    </div>

    <div class = "row">
        {% for article in name %}
        <div class ="col-sm-4">
            <h4> {{article.title}} </h4>
            <p>{{article.publishedAt}}</p>
            <img src ={{article.urlToImage}}>
            <a href ={{article.url}} target="_blank"><button type="button" class="btn btn-primary btn-sm">Continue Reading</button></a>
            
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

