{% macro displayNews(sources) %}

{% for source in sources%}
<div class ="card border -success mb-3 col-md-3">
    <div class ="card-header">
        {{source.name}}

    </div>
    <div class="card-body">
        <p class="card-text">{{source.url | truncate(150)}}</p>
        <br>
        <a href="/articles/{{source.id}}"><button type = "button" class = "btn btn-primary btn-sm">Read Articles</button></a>
        <!-- <button type = "button" class = "btn btn-primary btn-sm"><a href="/articles/{{source.id}}"></a>Read Articles</button> -->
    </div>

</div>

{% endfor %} 
{% endmacro %}